.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  align-items: center;
  box-shadow: 0px 2px 10px grey;
  background-color: #f2ecc4;
}

.logo {
  text-decoration: none;
}

.logo > img {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.link {
  text-decoration: none;
  margin: 20px;
  padding: 10px;
  background-color: #ddadd0;
  color: #f2ecc4;
  font-size: 24px;
  font-family:'Dancing Script', cursive;
  border-radius: 4px;
}

.link:hover {
  background-color: #9EFFCC;
  text-decoration: none;
  color: #241605;
}