.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  align-items: center;
  box-shadow: 0px 2px 10px grey;
  background-color: #DDADD0;
}

.logo {
  text-decoration: none;
}

.logo > img {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.link {
  text-decoration: none;
  margin: 20px;
  padding: 10px;
  background-color: #61E8D6;
  color: #241605;
  font-size: 24px;
  font-family:'Dancing Script', cursive;
  border-radius: 4px;
}

.link:hover {
  background-color: #9EFFCC;
  text-decoration: none;
}

.banner {
  background-image: url(images/photos-boutique/devanture.jpg);
  height: 60vh;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-top: 5%;
}

h1 {
  font-family:'Dancing Script', cursive; 
  color: white;
  font-size: 80px;
  font-weight: bold;
  text-align: right;
  padding: 20vh;
}

.bannerproducts {
  background-image: url(images/photos-boutique/vitrine.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

h2 {
  font-family:'Dancing Script', cursive; 
  color: #241605;
  font-size: 60px;
  font-weight: bold;
  text-align: left;
  padding: 20vh;
}

.img-carousel {
 max-height:450px;
 max-width:auto;
 object-fit: contain;
}

.img-height {
  height: 30vh; 
}

.img-fit {
  object-fit: contain;
}

.banneractu {
  background-image: url(images/photos-boutique/comptoir.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-top: 6px;
}

.banneractu > h2 {
  color: white;
  text-align: right;
}

.bannerinfo {
  background-image: url(images/photos-boutique/comptoirsombre.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

.bannerinfo > h2 {
  color: white;
}
