@import'css/navbar.css';
@import'css/carousel.css';
@import'css/footbar.css';
@import'css/contact.css';

.banner {
  background-image: url(images/photos-boutique/devanture.jpg);
  height: 60vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-top: 5%;
}

h1 {
  font-family:'Dancing Script', cursive; 
  color: #f2ecc4;
  font-size: 80px;
  font-weight: bold;
  text-align: right;
  padding: 20vh;
}

.bannerproducts {
  background-image: url(images/photos-boutique/vitrine.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
}

h2 {
  font-family:'Dancing Script', cursive; 
  color: #f2ecc4;
  font-size: 60px;
  font-weight: bold;
  text-align: left;
  padding: 20vh;
}

.banneractu {
  background-image: url(images/photos-boutique/comptoir.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-top: 6px;
  width: 100%;
}

.banneractu > h2 {
  color: #f2ecc4;
  text-align: right;
}

.bannerinfo {
  background-image: url(images/photos-boutique/comptoirsombre.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
}

.bannerinfo > h2 {
  color: #f2ecc4;
}

